{% extends 'base.html.twig' %}

{% block title %}Read {{ article.title }} {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="show-article-img" src="{{ asset('images/asteroid.jpeg') }}">
                        <div class="show-article-title-container d-inline-block pl-3 align-middle">
                            <span class="show-article-title ">{{ article.title }}</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> {{ article.author }} </span>
                            <span class="pl-2 article-details"> {{ article.publishedAt ? article.publishedAt|date('Y-m-d') : 'unpublished' }}</span>
                            <span class="pl-2 article-details">
                             <span class="js-like-article-count">{{ article.heartCount }}</span>
                             <a href="{{ path('article_toggle_heart', { slug: article.slug }) }}" class="js-like-article"><i class="far fa-heart" style="color: #ff4a4a;"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="article-text">
                            <p>{{ article.content }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="share-icons mb-5"><span class="pr-1">Share:</span> <i class="pr-1 fab fa-facebook-square"></i><i class="pr-1 fab fa-twitter-square"></i><i class="pr-1 fab fa-reddit-square"></i><i class="pr-1 fa fa-share-alt-square"></i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3><i class="pr-3 fa fa-comment"></i>({{ comments | length }}) Comments</h3>
                        <hr>

                        <div class="row mb-5">
                            <div class="col-sm-12">
                                <img class="comment-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <span class="commenter-name">Amy Oort</span>
                                    <div class="form-group">
                                        <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">Comment</button>
                                </div>
                            </div>
                        </div>
                        {% for comment in comments %}
	                        <div class="row">
	                            <div class="col-sm-12">
	                                <img class="comment-img rounded-circle" src="{{ asset('images/alien-profile.png') }}">
	                                <div class="comment-container d-inline-block pl-3 align-top">
	                                    <span class="commenter-name">Mike Ferengi</span>
	                                    <br>
	                                    <span class="comment">{{ comment }}</span>
	                                    <p><a href="#">Reply</a></p>
	                                </div>
	                            </div>
	                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
 <script type="text/javascript" src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}